@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.cabecalho-menu-esquerda {
    display: flex;
    gap: 60px;
}

.menu-esquerda {
    display: flex;
    gap: 50px;
}

.esquerda-item {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: hsl(0, 0%, 41%)
}

.cabecalho-menu-direita {
    display: flex;
    gap: 60px;
    margin-right: 30px;
}

.menu-direita {
    display: flex;
    gap: 50px;
}

.direita-item {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: hsl(0, 0%, 41%)
}

.esquerda-item:hover {
    color: black;
}

.direita-item:hover {
    color: black;
}

.conteudo {
    margin-top: 10px;
    padding: 30px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: hsl(0, 0%, 8%)
}

.texto {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: hsl(0, 0%, 41%) 
}

.botao {
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: hsl(0, 0%, 100%)
}

.botao:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.logos {
    margin-left: 70px;
}

.client-logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 20px;
}